
* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;

}

#External_Styling {
	color: yellow;
}

h1 {
	font-size: 50px;
	font-family: "Verdana", sans-serif;
}

h2	{
	text-transform: uppercase;
}

.languages {
	background: lightgreen;
}

ol [class=tools] {
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
}

h5 + img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

ul {
	list-style-type: none;
}

p section {
	text-align: center;
}

div ul {
	letter-spacing: 5px;
}