
		
		h1 {
			color: brown;
		}

	
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

#zuitt-motto { 
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

input[required] {
	border width: 2px;
	border-style: solid;
	border-color: blue;
}

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px; /*<-round*/
}

#bootcamp-learning-list li{
	color: #800080;
}

div p {
	background: lightcoral;
}

h2 ~ a {
	text-decoration: none; /*<--remove underline in hyperlinks*/
}

